---
layout: default
---

<h1 class="text-3xl"><%= resource.data.title %></h1>
<h3 class="text-sm text-gray-300 mb-4"><%= resource.data.date.strftime("נכתב בתאריך %d/%m/%Y") %></h3>

<div class="whitespace-pre-line"><%= yield %></div>
